Body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    background-image: url(image/pattern_tile_light.png);
    background-attachment: fixed;

}

h1{
    font-weight: lighter;
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 0px;
}

h2{
  margin-bottom: 10px;
}

.inputsection{
    margin: 50px 0px 80px 0px;
    width: 400px;

}

.inputs{
    width: inherit;
    display: flex;
    flex-direction: column;
}

input{
  margin-top: 10px;
}

.addoption{
  margin-top: 10px;
}
